
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CBRE Dashboard</title>
    <link rel="stylesheet" href="../libs/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/dist/main.css" />
</head>
<body class="dashboard-ctn">
    <main class="container-fluid">
        <div class="main-div">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-4">
                    <section class="panel">
                        <div class="panel-div">
                            <div class="row cbre-logo-row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <span>CBRE</span>
                                    <span>&nbsp;myVANTAGE</span>
                                </div>
                            </div>
                            <div class="row user-img-row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <img class="user-img" src="../assets/images/user-img.png" />
                                </div>
                            </div>
                            <div class="row user-name">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <span>Greetings,</span>
                                    <span>Linda H.</span>
                                </div>
                            </div>
                            <div class="row custom-msg">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <span>Insert a personalized and brief overview about the dashboard experience.</span>
                                </div>
                            </div>
                            <div class="row panel-links">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <ul>
                                        <li>
                                            <a class="add-app"><img src="../assets/images/plus.svg" /><span>Add more services</span></a>
                                        </li>
                                        <li>
                                            <img src="../assets/images/email.svg" /><span>Feedback & Comments</span>
                                        </li>
                                        <li>
                                            <img src="../assets/images/sign-out.svg" /><span>Sign out</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="app-info-panel">
                        <div class="app-info-panel-div">
                            <div class="row app-info-title">
                                <div class="col-md-12 col-sm-12 col-12">
                                    Customize your dashboard
                                </div>
                            </div>
                            <div class="row app-info">
                                <div class="col-md-12 col-sm-12 col-12">
                                    Add more CBRE services and tools to your dashboard by clicking the &#34;+&#34; icon below.
                                </div>
                            </div>
                            <div class="row app-list-row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <ul class="app-list">
                                        <li>
                                            <div class="app-title">
                                                <img class="add-img" src="../assets/images/plus.svg" />
                                                <span>Allocated but not spent CAPEX</span>
                                                <img class="collapse-img" src="../assets/images/arrow-down.svg" />
                                            </div>
                                            <div class="app-details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                <a href="#" target="_blank"><img class="panel-app-launch" src="../assets/images/app-link.svg" /></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="app-title">
                                                <img class="add-img" src="../assets/images/plus.svg" />
                                                <span class="app-no-access">Budget Performance</span>
                                                <img class="collapse-img" src="../assets/images/arrow-down.svg" />
                                            </div>
                                            <div class="app-details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                <a href="#" target="_blank"><img class="panel-app-launch" src="../assets/images/app-link.svg" /></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="app-title">
                                                <img class="add-img" src="../assets/images/plus.svg" />
                                                <span>PJM Cycle Time Performance</span>
                                                <img class="collapse-img" src="../assets/images/arrow-down.svg" />
                                            </div>
                                            <div class="app-details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                <a href="#" target="_blank"><img class="panel-app-launch" src="../assets/images/app-link.svg" /></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="app-title">
                                                <img class="add-img" src="../assets/images/plus.svg" />
                                                <span>Critical Date Management</span>
                                                <img class="collapse-img" src="../assets/images/arrow-down.svg" />
                                            </div>
                                            <div class="app-details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                <a href="#" target="_blank"><img class="panel-app-launch" src="../assets/images/app-link.svg" /></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="app-title">
                                                <img class="add-img" src="../assets/images/plus.svg" />
                                                <span>Employee Retention on Offers</span>
                                                <img class="collapse-img" src="../assets/images/arrow-down.svg" />
                                            </div>
                                            <div class="app-details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                <a href="#" target="_blank"><img class="panel-app-launch" src="../assets/images/app-link.svg" /></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-8 col-sm-8 col-8">
                    <section class="dashboard-apps">
                        <div class="row dashboard-apps-row">
                            <div class="col-md-4 col-sm-4 col-12 app-tile">
                                <img class="app-close" src="../assets/images/close.svg" />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-heading">Utilization Trends</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-text">Occupancy Dashboard</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <button class="launch-app">Launch</button>
                                        <img class="info-icon" src="../assets/images/info-icon.svg" />
                                    </div>
                                </div>
                                <figure>
                                    <img class="tile-img" src="../assets/images/line-graph.svg" />
                                    <figcaption>Trending in the right direction. No further action required.</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-4 col-sm-4 col-12 app-tile">
                                <img class="app-close" src="../assets/images/close.svg" />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-heading">Critical Date Management</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-text">Sequentra</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <button class="launch-app">Launch</button>
                                        <img class="info-icon" src="../assets/images/info-icon.svg" />
                                    </div>
                                </div>
                                <figure>
                                    <img class="tile-img" src="../assets/images/critical-mng.png" />
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                            <div class="col-md-4 col-sm-4 col-12 app-tile">
                                <img class="app-close" src="../assets/images/close.svg" />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-heading">Utilization Trends</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-text">Occupancy Dashboard</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <button class="launch-app">Launch</button>
                                        <img class="info-icon" src="../assets/images/info-icon.svg" />
                                    </div>
                                </div>
                                <figure>
                                    <img class="tile-img" src="../assets/images/line-graph.svg" />
                                    <figcaption>Trending in the right direction. No further action required.</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-4 col-sm-4 col-12 app-tile">
                                <img class="app-close" src="../assets/images/close.svg" />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-heading">Utilization Trends</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-text">Occupancy Dashboard</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <button class="launch-app">Launch</button>
                                        <img class="info-icon" src="../assets/images/info-icon.svg" />
                                    </div>
                                </div>
                                <figure>
                                    <img class="tile-img" src="../assets/images/line-graph.svg" />
                                    <figcaption>Trending in the right direction. No further action required.</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-4 col-sm-4 col-12 app-tile">
                                <img class="app-close" src="../assets/images/close.svg" />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-heading">Utilization Trends</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-text">Occupancy Dashboard</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <button class="launch-app">Launch</button>
                                        <img class="info-icon" src="../assets/images/info-icon.svg" />
                                    </div>
                                </div>
                                <figure>
                                    <img class="tile-img" src="../assets/images/line-graph.svg" />
                                    <figcaption>Trending in the right direction. No further action required.</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-4 col-sm-4 col-12 app-tile">
                                <img class="app-close" src="../assets/images/close.svg" />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-heading">Utilization Trends</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-text">Occupancy Dashboard</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <button class="launch-app">Launch</button>
                                        <img class="info-icon" src="../assets/images/info-icon.svg" />
                                    </div>
                                </div>
                                <figure>
                                    <img class="tile-img" src="../assets/images/line-graph.svg" />
                                    <figcaption>Trending in the right direction. No further action required.</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-4 col-sm-4 col-12 app-tile">
                                <img class="app-close" src="../assets/images/close.svg" />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-heading">Utilization Trends</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-text">Occupancy Dashboard</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <button class="launch-app">Launch</button>
                                        <img class="info-icon" src="../assets/images/info-icon.svg" />
                                    </div>
                                </div>
                                <figure>
                                    <img class="tile-img" src="../assets/images/line-graph.svg" />
                                    <figcaption>Trending in the right direction. No further action required.</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-4 col-sm-4 col-12 app-tile">
                                <img class="app-close" src="../assets/images/close.svg" />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-heading">Utilization Trends</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-text">Occupancy Dashboard</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <button class="launch-app">Launch</button>
                                        <img class="info-icon" src="../assets/images/info-icon.svg" />
                                    </div>
                                </div>
                                <figure>
                                    <img class="tile-img" src="../assets/images/line-graph.svg" />
                                    <figcaption>Trending in the right direction. No further action required.</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-4 col-sm-4 col-12 app-tile">
                                <img class="app-close" src="../assets/images/close.svg" />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-heading">Utilization Trends</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-text">Occupancy Dashboard</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <button class="launch-app">Launch</button>
                                        <img class="info-icon" src="../assets/images/info-icon.svg" />
                                    </div>
                                </div>
                                <figure>
                                    <img class="tile-img" src="../assets/images/line-graph.svg" />
                                    <figcaption>Trending in the right direction. No further action required.</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-4 col-sm-4 col-12 app-tile">
                                <img class="app-close" src="../assets/images/close.svg" />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-heading">Utilization Trends</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <span class="tile-text">Occupancy Dashboard</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <button class="launch-app">Launch</button>
                                        <img class="info-icon" src="../assets/images/info-icon.svg" />
                                    </div>
                                </div>
                                <figure>
                                    <img class="tile-img" src="../assets/images/line-graph.svg" />
                                    <figcaption>Trending in the right direction. No further action required.</figcaption>
                                </figure>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <script src="../libs/scripts/jquery-3.3.1.js"></script>
    <script src="../scripts/dashboard.js"></script>
</body>
</html>