
@{
    Layout = null;
}



<!DOCTYPE html>


<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CBRE Dashboard</title>
    <link rel="stylesheet" href="../styles/dist/main.css" />
</head>
<body class="dashboard-ctn">
    <main class="container">
        <section class="panel">
            <div class="panel-div">
                <div class="row cbre-logo-row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <span>CBRE</span>
                        <span>&nbsp;myVANTAGE</span>
                    </div>
                </div>
                <div class="row user-img-row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <img class="user-img" src="../assets/images/user-img.png" />
                    </div>
                </div>
                <div class="row user-name">
                    <div class="col-md-12 col-sm-12 col-12">
                        <span>Greetings,</span>
                        <span>Linda H.</span>
                    </div>
                </div>
                <div class="row custom-msg">
                    <div class="col-md-12 col-sm-12 col-12">
                        <span>Insert a personalized and brief overview about the dashboard experience.</span>
                    </div>
                </div>
                <div class="row panel-links">
                    <div class="col-md-12 col-sm-12 col-12">
                        <ul>
                            <li>
                                <a class="add-app"><img src="../assets/images/plus.svg" /><span>Add more services</span></a>

                            <li>
                                <img src="../assets/images/email.svg" /><span>Feedback & Comments</span>
                            </li>
                            <li>
                                <img src="../assets/images/sign-out.svg" /><span>Sign out</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="app-info-panel">
            <div class="app-info-panel-div">
                <div class="row app-info-title">
                    <div class="col-md-12 col-sm-12 col-12">
                        Customize your dashboard
                    </div>
                </div>
                <div class="row app-info">
                    <div class="col-md-12 col-sm-12 col-12">
                        Add more CBRE services and tools to your dashboard by clicking the &#34;+&#34; icon below.
                    </div>
                </div>
                <div class="row app-list-row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <ul class="app-list">
                            <li>
                                <img class="collapse-img" src="../assets/images/minus.svg" /><span>Allocated but not spent CAPEX</span>
                            </li>
                            <li>
                                <img class="collapse-img" src="../assets/images/minus.svg" /><span>Budget Performance</span>
                            </li>
                            <li>
                                <img class="collapse-img" src="../assets/images/minus.svg" /><span>C-Stat</span>
                            </li>
                            <li>
                                <img class="collapse-img" src="../assets/images/minus.svg" /><span>Critical Data Management</span>
                            </li>
                            <li>
                                <img class="collapse-img" src="../assets/images/minus.svg" /><span>Employee Retention on Offers</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../libs/scripts/jquery-3.3.1.js"></script>
    <script src="../scripts/dashboard.js"></script>
</body>
</html>