
@{
    Layout = null;
}

<!DOCTYPE html>

<!-- CBRE Login Screen -->

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CBRE Login</title>
    <link rel="stylesheet" href="../libs/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/dist/main.css" />
    <script src="../libs/scripts/jquery-3.3.1.js"></script>

</head>
<body class="login-ctn">
    <main class="container">
        <div class="row main-row">
            <div class="user-info col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row-grp col-lg-12 col-md-10 col-sm-10 col-12">
                    <div class="row cbre-logo-row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <span>CBRE</span>
                            <span>&nbsp;myVANTAGE</span>
                        </div>
                    </div>
                    <div class="row login-txt-row">
                        <span class="col-md-12 col-sm-12 col-12">Sign in to view your myVantage dashboard</span>
                    </div>
                    <div class="row usr-name-row">
                        <div class="col-md-10 col-sm-12 col-12">
                            <img src="../assets/images/email.svg" />
                            <input type="text" class="usr-name-input" placeholder="Email address or username" />
                        </div>
                    </div>
                    <div class="row usr-pwd-row">
                        <div class="col-md-10 col-sm-12 col-12">
                            <img src="../assets/images/key.svg" />
                            <input type="password" class="usr-pwd-input" placeholder="Password" />
                        </div>
                    </div>
                    <div class="row login-btn-row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <button class="login-btn">Sign in</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-img col-lg-6 col-md-12 col-sm-6 col-12">
                <img src="../assets/images/login.png" />
            </div>
        </div>
    </main>
</body>
</html>
